
.list-container {
    position: relative;
  }
  .list-container.active .more-button-list {
    opacity: 1;
    transform: scale(1);
  }
  .list-container.active .more-button-list-item {
    -webkit-animation: fadeInItem 0.6s 0.2s forwards;
            animation: fadeInItem 0.6s 0.2s forwards;
  }
  .list-container.active .more-button-list-item:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .list-container.active .more-button-list-item:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .list-container.active .more-button-list-item:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .list-container.active .more-button {
    -webkit-animation: onePulse 0.6s forwards linear;
            animation: onePulse 0.6s forwards linear;
  }
  .list-container.active .menu-icon-wrapper {
    transform: rotate(-45deg);
  }
  .list-container.active .menu-icon-line.first {
    transform: rotate(-90deg) translateX(1px);
  }
  .list-container.active .menu-icon-line.last {
    transform: rotate(-90deg) translateX(-1px);
  }
  
  .more-button {
    background-color: #ff7b00;
    box-shadow: 0px 0px 0px 4px rgba(255, 171, 92, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 100;
  }
  .fixo {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 8888;
  }
  
  .more-button:hover, .more-button:focus {
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3);
    background-color: #000000;
  }
  .more-button:focus {
    outline: 0;
  }
  .more-button-list {
    background-color: #fff;
    border-radius: 8px;
    list-style-type: none;
    width: 140px;
    height: 185px;
    box-shadow: 0px 0px 4px 4px rgba(150, 157, 249, 0.16);
    padding: 0;
    padding: 6px;
    position: absolute;
    right: 24px;
    bottom: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: all 0.3s ease 0.1s;
    z-index: 76;
    text-decoration: none;

  }
  .more-button-list li {
    opacity: 0;
    text-decoration: none;

  }
  .more-button-list-item {
    display: flex;
    align-items: center;
    color: #ff7b00;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in;
    transform: translatex(-10px);
    text-decoration: none;

  }

  .link{
    font-size: 16px;
    color:#ff7b00;
    line-height:normal;
  }

  .link:hover{
    color:#000000;
    text-decoration: none;
  }
  .more-button-list-item:hover {
    color: #ff9d5c;
  }
  .more-button-list-item:after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 0;
    background-color: rgba(132, 160, 244, 0.1);
  }
  .more-button-list-item:last-child:after {
    display: none;
  }
  .more-button-list-item svg {
    width: 18px;
    height: 18px;
  }
  .more-button-list-item span {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    margin-left: 8px;
  }
  
  @-webkit-keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 171, 92, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(255, 198, 92, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(255, 165, 92, 0.3);
    }
  }
  
  @keyframes onePulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 171, 92, 0.3);
    }
    50% {
      box-shadow: 0px 0px 0px 12px rgba(255, 198, 92, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 4px rgba(255, 165, 92, 0.3);
    }
  }
  @-webkit-keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  @keyframes fadeInItem {
    100% {
      transform: translatex(0px);
      opacity: 1;
    }
  }
  .socials {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
  }
  
  .social-link {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 12px;
  }
  
  .menu-icon-wrapper {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .menu-icon-line {
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 2px;
  }
  .menu-icon-line.half {
    width: 50%;
  }
  .menu-icon-line.first {
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: right;
  }
  .menu-icon-line.last {
    align-self: flex-end;
    transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
    transform-origin: left;
  }